.table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  color: #000;
}

.table thead {
  background-color: #333;
  color: #fff;
}

.table th,
.table td {
  padding: 12px 15px;
  border: 1px solid #000;
}

.table tbody tr:nth-child(even) {
  background-color: darkgray;
}

.table tbody tr:hover {
  background-color: #e0e0e0;
}